.link {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    font-size: 18px;
    color: #9e99ee;
}

.link:hover {
    text-decoration: underline;
}

.link.active {
    color: #9e99ee;
}